extends layout

block content
  h1 Bienvenue sur Ma Homepage
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac ante vel ex consequat vulputate. Sed ultricies sapien ut ipsum imperdiet, in aliquet velit fermentum.

